*{

}

body{
  background-color: rgb(41, 144, 204);
  
  border-color: black;
  border-style: solid;
}

.ptest{
  text-align: center;
  background-color: lightblue;
  padding: 3px 0 3px;
}

.section1{
  
}